.container {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: var(--code-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paymentFormHeader {
    font-weight: bold;
}

.paymentForm {
    display: flex;
}

.formInput {
    border: transparent;
    border-radius: 2px;
    border-bottom: 2px solid var(--border);
}

.submitButton {
    border: 1px solid var(--text);
    border-radius: 4px;
}

.submitButton:hover {
    cursor: pointer;
    transition: background-color 0.2s;
}
