.totalsSection {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--border);
    border-radius: 8px;
    margin: 2rem;
    background-color: var(--social-bg);
}

.dashboardDivider {
    border: 2px solid var(--border);
    margin: 2rem;
}

.totalContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

.totalValue {
    scale: 120%;
}