.container {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 1rem 1.25rem;
    margin: 0.75rem;
    background-color: var(--code-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detail {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.editInput {
    border: transparent;
    border-radius: 2px;
    border-bottom: 2px solid var(--border);
}

.actions {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.detailLabel {
    font-weight: bold;
}

.editButton, .saveButton, .cancelButton {
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.deleteButton, .cancelButton {
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: rgb(220, 50, 50);
}

.editButton:hover, .deleteButton:hover, .saveButton:hover, .cancelButton:hover {
    cursor: pointer;
    transition: background-color 0.2s;
}

