.navBar {
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--accent-border);
    margin-bottom: 2rem;
}

.navLinksSection {
    display: flex;
}

.navItem {
    overflow: hidden;
}

.logoutContainer {
    margin-right: 2rem;
    margin-left: auto;
}

.navLink {
    padding: 1.5rem 2rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

.navLink:hover {
    transform: scale(1.2);
    background-color: var(--accent-bg);
    transition: background-color 0.2s, transform 0.2s;  
}